body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera img{
    width: 100%; 
    height: 300px;  
}

#cabecera a{
    text-decoration: none; 
}

.logoCabecera{
    position: relative;
}

.logoCabecera span {
    position:absolute;
    line-height: 300px;
    vertical-align: auto;
    left: 50px;    
    background-color: transparent;
    font-size: 200%;     
    color: black;

}
.logoCabecera a {
    color:black;
}

.logoCabecera h1 {
    height: 100px;
}

.highlighter{
    background-color: yellow;    
    padding: 0px;
}
.menu{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: black;
    color:white;
    text-decoration:none;
}

.menu a{
    color:white;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin:5px 50px;
    align-items: center;
    color: black;
}
.grid2 h2, h3 {
    grid-column: 1/3;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
}

.grid2 a{          
    padding: 0px 8px 0px 0px;
    color:black;
}

.social{
    font-size: 80%;
}

.tipoboton{
    padding: 7px;
    background-color: white;
}

.tipoboton:hover{    
    box-shadow: 10px 5px 5px black;
}

.grid2MarcoColumnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin:5px 10px;
    align-items: center;
}

.grid2MarcoColumnas h2, h3 {
    grid-column: 1/3;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
}

.grid2Marco{
    border-style: solid;
    box-shadow: -3px 3px 0px black;
    margin: 5px 50px;    
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin:5px 50px;
    align-items: top;
    padding: 15px;
}

.grid3 h2, h3, p {
    grid-column: 1/4;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    text-align: justify;
    padding: 15px;
    margin:15px 50px;
}

.grid4 h2, h3 {
    grid-column: 1/5;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.fondoNegro{
    background-color: black;
    color:white;
}

.fondoBlanco{
    background-color: white;
    color:black;
}
a, h2{
    padding: 10px;
    text-transform: uppercase;
}

.cuadroLogos{
    margin:5px 50px;
}
.hiringpartners{
    max-width: 100%;
    padding: 0px;
    margin: 0 0 1em;
    vertical-align: middle;
    margin-right: 2%;
    width: 10%;
    filter: grayscale(100%);
}

.videoYoutube{
    width: 100%;
    min-height: 315px;
    vertical-align: middle;   
}

footer a{
    color:white;
    padding:0px;
}

@media (min-width:400px) and (max-width:800px){
    #cabecera img{
        height: 200px;  
    }
    .logoCabecera span {
        font-size:100%;        
        line-height: 200px;
    }
    .grid4{
        grid-template-columns: 1fr;
    }
    .grid4 h2, h3 {
        grid-column: 1;
    }
    .grid3{
        grid-template-columns: 1fr;
    }   
    .grid3 h2, h3, p {
        grid-column: 1;
    }
    .grid2{
        grid-template-columns: 1fr;
    }
    .grid2MarcoColumnas{
        grid-template-columns: 1fr;
    }
    .grid2MarcoColumnas h2, h3 {
        grid-column: 1;
    }
  }
